@model Bricks_auction_application.Models.ViewModels.OfferVM

@{
    ViewData["Title"] = "Edit Offer";
}

<h2>Edit Offer</h2>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Offer.OfferId" />
            <input type="hidden" asp-for="Offer.UserId" />
            <div class="form-group">
                <label asp-for="Offer.LEGOSetId" class="control-label"></label>
                <select asp-for="Offer.LEGOSetId" class="form-control" asp-items="ViewBag.LEGOSetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Offer.Price" class="control-label"></label>
                <input asp-for="Offer.Price" class="form-control" />
                <span asp-validation-for="Offer.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.ShippingPrice" class="control-label"></label>
                <input asp-for="Offer.ShippingPrice" class="form-control" />
                <span asp-validation-for="Offer.ShippingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.OfferEndDateTime" class="control-label"></label>
                <input asp-for="Offer.OfferEndDateTime" class="form-control" />
                <span asp-validation-for="Offer.OfferEndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
